#contain {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: rgb(56, 56, 56);
  width: 1000px;
}
#header {
  text-align: center;
  position:fixed;
  height: 115px;
  top:0px;
  left:0px;
  width:100%;
  background:rgb(31, 31, 31, .7);
}
#header-title { 
  text-transform: uppercase;
  font-family: verdana;
  letter-spacing: 10px;
  font-size: 60px;
  font-weight: 700;
  color: #f5f5f5;
}
#footer {
  text-align: center;
  position:fixed;
  font-size: 15px;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(68, 67, 87, 0.8);
  padding:8px;
}
.spacing {
  margin-top: 125px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.nav-item:hover {
  color: blueviolet;
}